.KlarnaCheckoutPaymentOption.current {
	border: 1px solid #CCC;
	background-color: #f5f5f5;
}

.KlarnaCheckoutPaymentOption, .KlarnaCheckoutPaymentOption.current {
	display: inline-block;
	width: 43%;
	padding: 0 10px 10px 10px;
	cursor: pointer;
	margin: 20px;

}